@model List<Ead_project.Models.Theme>
@{
    ViewBag.Title = "delete_event";
}

<!DOCTYPE html>

<html>
<head>
    <title>Free Brighton Website Template | Services :: w3layouts</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body id="admin">
    <br><br><br>
    <p class="f1" style="color:deeppink">
        Show ALL Events details!!
    </p>
    <div class="table_div">
        <table class="show_table">
            <tr>
                <th>Event Theme</th>
                <th>Event Arrangement</th>
                <th>Seating Arrangement</th>
                <th>Stage Arrangement</th>
                <th>Stage  Seating</th>
                <th>Stage Lightening</th>
                <th>Budget</th>
                <th>Theme ID</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.theme_name</td>
                    <td>@item.color_combination</td>
                    <td>@item.seating_arrangnment</td>
                    <td>@item.stage_arrangnment</td>
                    <td>@item.stage_seating</td>
                    <td>@item.stage_lightening</td>
                    <td>@item.budget</td>
                    <td>@item.Theme_id</td>
                </tr>

            }

        </table>
    </div><br> <br> <br>
    <p class="f1" style="color:deeppink">
        Delete Events details!!
    </p><br><br> <br><br>
    <div class="adminside">

        <form class="f_admin" method="post" action="/Admin/ondelete_events">

            Enter The Name of Event Theme <br>
            <input type="text" id="color" name="Theme_name"><span id="errmob" style="color:red;"></span><br><br>
            <div class="more">
                <input class="btn btn-primary" type="submit" value="Delete"></>
            </div>
            <p style="font-size:smaller;color:red"> @ViewBag.done </p><br>

            <br><br> <br><br><br><br><br>
        </form>
    </div>
    <div class="clear"></div>

</body>
</html>
